# Bonus: Temperature Analysis I

In [34]:
import pandas as pd
from datetime import datetime as dt

In [35]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  object
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 611.1+ KB

In [37]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  datetime64[ns]
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 611.1+ KB

In [39]:
# Set the date column as the DataFrame index
df.set_index('date', inplace = True)

In [40]:
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

In [41]:
df['Day'] = df.index.day
df['Month'] = df.index.month
df['Year'] = df.index.year

In [42]:
df.head()

                station  prcp  tobs  Day  Month  Year
date
2010-01-01  USC00519397  0.08    65    1      1  2010
2010-01-02  USC00519397  0.00    63    2      1  2010
2010-01-03  USC00519397  0.00    74    3      1  2010
2010-01-04  USC00519397  0.00    76    4      1  2010
2010-01-06  USC00519397   NaN    73    6      1  2010

In [43]:
# Drop the date column
df.reset_index(drop=True, inplace=True)

In [44]:
df.head()

       station  prcp  tobs  Day  Month  Year
0  USC00519397  0.08    65    1      1  2010
1  USC00519397  0.00    63    2      1  2010
2  USC00519397  0.00    74    3      1  2010
3  USC00519397  0.00    76    4      1  2010
4  USC00519397   NaN    73    6      1  2010

### Compare June and December data across all years

In [45]:
from scipy import stats

In [46]:
# Filter data for desired months
june_data = df.loc[df['Month'] == 6]
dec_data = df.loc[df['Month'] == 10]

In [47]:
june_data.head()

         station  prcp  tobs  Day  Month  Year
133  USC00519397  0.00    78    1      6  2010
134  USC00519397  0.01    76    2      6  2010
135  USC00519397  0.00    78    3      6  2010
136  USC00519397  0.00    76    4      6  2010
137  USC00519397  0.00    77    5      6  2010

In [ ]:
dec_data.head()

In [48]:
# Identify the average temperature for June
avg_june_temp = june_data["tobs"].mean()
avg_june_temp

74.94411764705882

In [49]:
# Identify the average temperature for December
avg_dec_temp = dec_data["tobs"].mean()
avg_dec_temp

75.3913881748072

In [54]:
# Create collections of temperature data
june_temp_list = june_data["tobs"]
june_temp_list

dec_temp_list = dec_data["tobs"]
dec_temp_list

250      78
251      78
252      78
253      78
254      80
         ..
19265    71
19266    68
19267    71
19268    76
19269    69
Name: tobs, Length: 1556, dtype: int64

In [55]:
# Run unpaired t-test
stats.ttest_ind(june_temp_list, dec_temp_list)

Ttest_indResult(statistic=-3.7518336725404278, pvalue=0.00017860734597764777)

In [56]:
# Run paired t-test
stats.ttest_rel(june_temp_list, dec_temp_list)

ValueError: unequal length arrays

### Analysis

In [ ]:
I tried running this with both paired and unpaired t-test. The paired method failed due to uneven length of both the list.
At this point i think unpaired test is effective since we have uneven data set list.